<div ui-content-for="title">
  <span>Let's go</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <form role="form" ng-submit='login()'>
    <fieldset>
      <legend>Sign In</legend>
        <div class="form-group has-success has-feedback">
          <label>UserName</label>
          <input type="email"
                 ng-model="user.email"
                 class="form-control"
                 placeholder="Enter a email address">
        </div>
      
        <div class="form-group">
          <label>Password</label>
          <input type="password" 
                 ng-model="user.password"
                 class="form-control"
                 placeholder="Password">
        </div>

    </fieldset>
    <hr>

    <button ng-click="SignIn($event)" class="btn btn-primary btn-block" type="submit">
      SignIn
    </button>


  </form>
 </div>
</div>
